{% extends "base.html" %}
{% block content %}
    <!---About-Isama--> 
    <section class="About_isama bg-light py-5">
      <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-lg-12">
              <div class="what_do project_section mb-5 text-center">
                <div class="what_we_imgBox project_imgBox">
                  <img src="/static/img/icon10.png" alt="icon10">
                </div>
                <div class="what_we_textBox project_textBox">
                  <h3 class="what_title project_title">About Us {{output}}</h3>
                  <p class="what_description project_description">Some of our awesome work Proud of doing <br> great works for our cli</p>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="isama_scetion_1">
              <div class="isama_imgBox">
                <img src="/static/img/icon1.png" alt="icon1">
              </div>
              <div class="isama_textBox">
                <h1 class="isama_text">What about ISAMA</h1>
                <p class="isama_description">ISAMA is a marketing foundation located in Riyadh built on the Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis est officia eveniet eligendi! Sit, similique doloribus incidunt atque voluptate aspernatur?</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="isama_scetion_1">
              <div class="isama_imgBox">
                <img src="/static/img/icon2.png" alt="icon2">
              </div>
              <div class="isama_textBox">
                <h1 class="isama_text">What about ISAMA</h1>
                <p class="isama_description">ISAMA is a marketing foundation located in Riyadh built on the Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis est officia eveniet eligendi! Sit, similique doloribus incidunt atque voluptate aspernatur?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--About-Isama-end--> 

    <!--youtube-Isama- section--> 
    <section class="youtube_section py-5">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                  <div class="what_do project_section mb-5 text-center">
                    <div class="what_we_imgBox project_imgBox">
                      <img src="/static/img/icon9.png" alt="icon9">
                    </div>
                    <div class="what_we_textBox project_textBox">
                      <h3 class="what_title project_title">Our youtube channel</h3>
                      <p class="what_description project_description">Some of our awesome work Proud of doing <br> great works for our cli</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="video_section text-center">
                <iframe width="860" height="415" src="https://www.youtube.com/embed/xZ9tQ8W2MgE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <!--youtube-Isama-section--> 

    <!--location section-->
    <section class="location_section pt-5">
      <div class="container-fluids">
        <div class="selection_location ">
          <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d7955.77672596208!2d90.43084166414161!3d23.711299251730814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3755b9cbce953a15%3A0xa1a4fdbef61d89e8!2z4Kau4KeH4Kef4KawIOCmruCni-CmueCmvuCmruCnjeCmruCmpiDgprngpr7gpqjgpr_gpqsg4Kar4KeN4Kay4Ka-4KaH4KaT4Kat4KeH4KawLCDgpqLgpr7gppXgpr4!3m2!1d23.7099936!2d90.4344419!5e0!3m2!1sbn!2sbd!4v1656355330593!5m2!1sbn!2sbd" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="All_iconBox">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
          </div>
        </div>
      </div>
    </section>
    <!--location section end-->
{% endblock content %}