
    <!--main footer section -->
    <footer class="main_footer footer_section bg-dark py-5">
        <div class="container">
          <div class="fopter_items">
            <nav class="navbar navbar-expand-sm navbar-dark ">
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item ">
                            <a class="nav-link" href="#"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa-brands fa-instagram"></i></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                    </li>
                    </ul>
                    <form class="form-inline input-group mt-2 my-2 my-lg-0">
                      <input type="text" class="form-control" placeholder="Enter email" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-success border-rad" type="button" id="button-addon2">Subscribe</button>
                    </form>
                </div>
            </nav>
          </div>
        </div>
      </footer>
      <!--main footer section end-->
  
      <!--main footer copy right section-->
      <footer class="copy_right_section bg-dark py-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mt-2">
              <span class="copyRight_text lead">© Copyright 2014 - <b>ISAMA</b> for information technology</span>
            </div>
            <div class="col-lg-6">
              <div class="blogSection">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Job</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"> Terms of Service </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Privacy</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Policy</a>
                </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!--main footer copy right section end-->
      <!-- Optional JavaScript -->
      <script src="/static/portal_UI.js"></script>
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"crossorigin="anonymous"></script>
    </body>
  </html>